<form [formGroup]="loginForm" class="register-form" #ngForm="ngForm" (ngSubmit)="onLoginSubmit()">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <app-input [inputType]="'email'" [iconType]="'email'" inputPlaceholder="{{'email'|translate}}"
                    [group]="loginForm" [controlName]="'email'" labelText="{{'email'|translate}}"
                    [errorMessage]="ngForm.submitted && (Email.errors?.['required']?('emailrequired'|translate):'' || Email.errors?.['email']?('Validation.emailpattern'|translate):'')"></app-input>
            </div>
            <div class="col-sm">
                <app-input [inputType]="'password'" [iconType]="'lock'" labelText="{{'password'|translate}}"
                    inputPlaceholder="{{'password'|translate}}" [group]="loginForm" [controlName]="'password'"
                    [errorMessage]="ngForm.submitted && Password.errors?.['required']?('passwordrequired'|translate):''"></app-input>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <button mat-raised-button type="submit" class="rounded-4"
                    (click)="onClick()">{{'login'|translate}}</button>
            </div>
        </div>
    </div>
</form>