<ng-container *ngTemplateOutlet='formGroup ? reactive : template'></ng-container>

<ng-template #reactive>
    <form [formGroup]="formGroup" #ngForm="ngForm" class="example-form">
        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>{{labelText}}</mat-label>
            <input #matTown matInput [placeholder]="inputPlaceholder" [matAutocomplete]="auto"
                [formControlName]="controlName">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let data of filteredData |async" [value]="data">
                    <span>{{displayFn(data)}}</span>
                </mat-option>
            </mat-autocomplete>
            <mat-icon matPrefix>{{iconType}}</mat-icon>
            <mat-icon matSuffix class="icon-error" *ngIf="errorMessage != ''">error</mat-icon>
            <mat-error *ngIf="errorMessage != ''">
                {{errorMessage}}
            </mat-error>
        </mat-form-field>
    </form>
</ng-template>

<ng-template #template>
    <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>{{labelText}}</mat-label>
        <input #matTown matInput [placeholder]="inputPlaceholder" [matAutocomplete]="auto3"
            formControlName="controlName">
        <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let data of filteredData |async" [value]="data">
                <span>{{displayFn(data)}}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</ng-template>