<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container-fluid h-custom">
    <div class="text-end">
        <mat-menu #appMenu="matMenu">
            <ng-template matMenuContent>
                <div *ngFor="let item of stateOptions; index as i;">
                    <button mat-menu-item (click)="onLanguageChange(item.value)">{{item.label}}</button>
                </div>
            </ng-template>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon class="icon-display">g_translate</mat-icon>
        </button>
    </div>
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="d-flex justify-content-center col-md-9 col-lg-6 col-xl-5">
            <img src="././assets/images/IMG-1771-removebg-preview.png" width="200px" height="200px">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                <mat-form-field fxFlexFill class="form-field mb-2">
                    <mat-label>{{'Labels.email'|translate}}</mat-label>
                    <input matInput placeholder="{{'Labels.email'|translate}}" formControlName="email">
                    <mat-icon matPrefix>email</mat-icon>
                    <mat-error *ngIf="Email.errors?.['required']">
                        {{'Validation.emailrequired'|translate}}
                    </mat-error>
                    <mat-error *ngIf="Email.errors?.['email']">
                        {{'Validation.emailpattern'|translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlexFill class="form-field">
                    <mat-label>{{'Labels.password'|translate}}</mat-label>
                    <input matInput placeholder="{{'Labels.password'|translate}}" type="password"
                        formControlName="password">
                    <mat-icon matPrefix>lock</mat-icon>
                    <mat-error *ngIf="Password.errors?.['required']">
                        {{'Validation.passwordrequired'|translate}}
                    </mat-error>
                </mat-form-field>

                <div class="d-flex justify-content-between align-items-center">
                    <div class="form-check mb-0">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                        <label class="form-check-label" for="form2Example3">
                            {{'Labels.rememberme'|translate}}
                        </label>
                    </div>
                    <a href="#!" class="text-body">{{'Labels.forgotpassword'|translate}}?</a>
                </div>

                <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="submit" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">
                        {{'Labels.login'|translate}}
                    </button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">{{'Labels.noaccount'|translate}}?
                        <a [routerLink]="['/register']" class="link-danger">{{'Labels.register'|translate}}</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>