<!-- <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
        <mat-card-content>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username">
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="primary" class="btn-block">Log in</button>
      </form>
    </mat-card>
  
  </div> -->
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                    <!-- 
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        
                    </div> -->

                    <!-- Email input -->
                    <mat-form-field fxFlexFill class="form-field mb-2">
                        <mat-label>{{'Labels.email'|translate}}</mat-label>
                        <input matInput placeholder="{{'Labels.email'|translate}}" formControlName="email">
                        <mat-icon matSuffix>alternate_email</mat-icon>
                        <mat-error *ngIf="Email.errors?.['required']">
                            {{'Validation.emailrequired'|translate}}
                        </mat-error>
                        <mat-error *ngIf="Email.errors?.['email']">
                            {{'Validation.emailpattern'|translate}}
                        </mat-error>
                    </mat-form-field>

                    <!-- Password input -->
                    <mat-form-field fxFlexFill class="form-field">
                        <mat-label>{{'Labels.password'|translate}}</mat-label>
                        <input matInput placeholder="{{'Labels.password'|translate}}" type="password"
                            formControlName="password">
                        <mat-icon matSuffix>lock</mat-icon>
                        <mat-error *ngIf="Password.errors?.['required']">
                            {{'Validation.passwordrequired'|translate}}
                        </mat-error>
                    </mat-form-field>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                {{'Labels.rememberme'|translate}}
                            </label>
                        </div>
                        <a href="#!" class="text-body">{{'Labels.forgotpassword'|translate}}?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">{{'Labels.login'|translate}}</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">{{'Labels.noaccount'|translate}}?
                            <a [routerLink]="['/register']" class="link-danger">{{'Labels.register'|translate}}</a>
                        </p>
                    </div>
                </form>
            </div>
            <div class="text-end">

                <mat-menu #appMenu="matMenu">
                    <ng-template matMenuContent>
                        <div *ngFor="let item of stateOptions; index as i;">
                            <button mat-menu-item (click)="onLanguageChange(item.value)">{{item.label}}</button>
                        </div>
                    </ng-template>
                </mat-menu>

                <button mat-icon-button [matMenuTriggerFor]="appMenu">
                    <mat-icon class="icon-display">g_translate</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div
        class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        <div class="text-white mb-3 mb-md-0">
            Copyright © 2020. All rights reserved.
        </div>
    </div>
</section>