<h2 class="divAction" mat-dialog-title>
    {{'Labels.register'|translate}}
</h2>
<mat-divider></mat-divider>
<form #signUpForm="ngForm" [formGroup]="registerForm"
    (ngSubmit)="onSubmit(signUpForm.value,'User created successfully!!!','Success')">

    <mat-dialog-content class="mat-typography">
        <div class="row">
            <div class="col">
                <mat-form-field fxFlexFill class="form-field mb-2">
                    <mat-label>{{'Labels.firstname'|translate}}</mat-label>
                    <input matInput placeholder="{{'Labels.firstname'|translate}}" formControlName="firstName">
                    <mat-icon matSuffix>face</mat-icon>
                    <mat-error *ngIf="f['firstName'].errors?.['required']">
                        {{'Validation.firstnamerequired'|translate}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field fxFlexFill class="form-field mb-2">
                    <mat-label>{{'Labels.lastname'|translate}}</mat-label>
                    <input matInput placeholder="{{'Labels.lastname'|translate}}" formControlName="lastName">
                    <mat-icon matSuffix>face</mat-icon>
                    <mat-error *ngIf="f['lastName'].errors?.['required']">
                        {{'Validation.lastnamerequired'|translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field fxFlexFill class="form-field mb-2">
                    <mat-label>{{'Labels.email'|translate}}</mat-label>
                    <input matInput placeholder="{{'Labels.email'|translate}}" formControlName="email">
                    <mat-icon matSuffix>alternate_email</mat-icon>
                    <mat-error *ngIf="f['email'].errors?.['required']">
                        {{'Validation.emailrequired'|translate}}
                    </mat-error>
                    <mat-error *ngIf="f['email'].errors?.['email']">
                        {{'Validation.emailpattern'|translate}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field fxFlexFill class="form-field mb-2">
                    <mat-label>{{'Labels.mobile'|translate}}</mat-label>
                    <input matInput placeholder="{{'Labels.mobile'|translate}}" formControlName="mobile">
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error *ngIf="f['mobile'].errors?.['required']">
                        {{'Validation.mobilerequired'|translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- password input -->
                <mat-form-field fxFlexFill class="form-field mb-2">
                    <mat-label>{{'Labels.createownpassword'|translate}}</mat-label>
                    <input matInput placeholder="{{'Labels.createownpassword'|translate}}" type="password"
                        formControlName="password">
                    <mat-icon matSuffix>password</mat-icon>
                    <mat-error *ngIf="f['password'].errors?.['required']">
                        {{'Validation.passwordrequired'|translate}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <!-- confirm password input -->
                <mat-form-field fxFlexFill class="form-field mb-2">
                    <mat-label>{{'Labels.confirmpassword'|translate}}</mat-label>
                    <input matInput placeholder="{{'Labels.confirmpassword'|translate}}"
                        formControlName="confirmPassword" type="password">
                    <mat-icon matSuffix>password</mat-icon>
                    <mat-error *ngIf="f['confirmPassword'].errors?.['required']">
                        {{'Validation.confirmPasswordrequired'|translate}}
                    </mat-error>
                    <mat-error *ngIf="f['confirmPassword'].errors?.['confirmedValidator']">
                        {{'Validation.confirmpassword'|translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- gender input -->
                <mat-form-field fxFlexFill class="form-field mb-2">
                    <mat-label>{{'Labels.ukareatelephone'|translate}}</mat-label>
                    <mat-select placeholder="{{'Labels.ukareatelephone'|translate}}" formControlName="ukAreaTelephone">
                        <mat-option *ngFor="let telephone of ukareatelephone" [value]="telephone.phoneCode">
                            {{telephone.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f['ukAreaTelephone'].errors?.['required']">
                        {{'Validation.genderrequired'|translate}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field fxFlexFill class="form-field mb-2">
                    <mat-label>{{'Labels.countrylivesin'|translate}}</mat-label>
                    <mat-select placeholder="{{'Labels.countrylivesin'|translate}}" formControlName="countryId">
                        <mat-option *ngFor="let country of countries" [value]="country.id">
                            <span class='{{country.countryIcon}}'></span>
                            {{country.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f['countryId'].errors?.['required']">
                        {{'Validation.genderrequired'|translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field fxFlexFill class="form-field mb-2">
                    <mat-label>{{'Labels.role'|translate}}</mat-label>
                    <mat-select placeholder="{{'Labels.role'|translate}}" formControlName="roleId">
                        <mat-option *ngFor="let role of roles" [value]="role.id">
                            {{role.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f['roleId'].errors?.['required']">
                        {{'Validation.genderrequired'|translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions align="end">
        <button mat-button mat-raised-button mat-dialog-close color="warn">{{'Labels.cancel'|translate}}</button>
        <button type="submit" mat-button mat-raised-button color="primary"
            cdkFocusInitial>{{'Labels.create'|translate}}</button>
    </mat-dialog-actions>
</form>