<h1 mat-dialog-title>
    Hi <b>{{data.firstName|uppercase}} {{data.lastName|uppercase}}</b>
</h1>
<!-- <mat-divider></mat-divider> -->
<div mat-dialog-content>
    What would you like to do ?
    <!-- <mat-chip-listbox aria-label="Action selection">
        <mat-chip-option color="primary" *ngFor="let box of chipBoxs" (click)="onSelect(box.path)">
            <mat-icon matTooltip="{{box.name}}" class="icon-display">{{box.iconName}}</mat-icon>
            {{box.name}}
        </mat-chip-option>
    </mat-chip-listbox> -->
    <div class="d-flex">
        <span [style.cursor]="'pointer'" *ngFor="let box of chipBoxs" class="badge rounded-pill bg-info text-dark"
            (click)="onSelect(box.path)">
            {{box.name}}
        </span>
    </div>
</div>