table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.darkblue-icon {
    color: darkblue;
}

/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.darkblue-icon svg {
    fill: darkblue;
}

.red-icon {
    color: red;
}

/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.red-icon svg {
    fill: red;
}

a:hover {
    cursor: pointer;
}