<!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner> -->
<div class="row">
    <div class="col">
        <mat-form-field appearance="fill">
            <mat-label>{{'Labels.filter'|translate}}</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
    </div>
</div>

<div class="mat-elevation-z8">
    <div class="container-fluid divAction">
        <div class="row">
            <div class="col">
                <button mat-flat-button (click)="openDialog()">
                    <mat-icon>add</mat-icon>
                    {{'Labels.addcounty'|translate}}
                </button>
                <button mat-flat-button (click)="uploadCounty()">
                    <mat-icon>attachment</mat-icon>
                    {{'Labels.uploadcounty'|translate}}
                </button>
                <button mat-flat-button
                    (click)="commonService.exportFile(countyDataSource,displayedColumns,'County list - Delivery Driver')">
                    <mat-icon>import_export</mat-icon>
                    {{'Labels.exportcounty'|translate}}
                </button>
            </div>
        </div>
    </div>
    <table mat-table [dataSource]="countyDataSource" matSort>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <a (click)="editCounty(row)">
                    <mat-icon class="darkblue-icon">edit</mat-icon>
                </a>
                <a (click)="deleteCounty(row)">
                    <mat-icon class="red-icon">delete</mat-icon>
                </a>
            </td>
        </ng-container>

        <ng-container matSortDisabled matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Labels.name'|translate}} </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="2">{{'Labels.nodatamatching'|translate}} "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>