<ng-container *ngTemplateOutlet='group ? reactive : template'></ng-container>

<ng-template #reactive>
    <form [formGroup]="group" #ngForm="ngForm">
        <mat-form-field appearance="outline">
            <mat-label>{{matLabel|translate}}</mat-label>
            <mat-select [formControlName]="controlName" [placeholder]="dropdownPlaceholder" [value]="selectedData"
                (selectionChange)="onChange($event)">
                <mat-option>None</mat-option>
                <ng-container *ngIf="!isEnum">
                    <mat-option *ngFor="let option of dropdownData;let i = index;" [value]="option">
                        {{option[displayProp]}}
                    </mat-option>
                </ng-container>

                <ng-container *ngIf="isEnum">
                    <mat-option *ngFor="let option of dropdownData;let i = index;" [value]="option[value]">
                        {{option[displayProp]}}
                    </mat-option>
                </ng-container>

            </mat-select>
            <mat-icon *ngIf="iconType!=''" matPrefix>{{iconType}}</mat-icon>
            <mat-error *ngIf="errorMessage != ''">
                {{errorMessage}}
            </mat-error>
        </mat-form-field>
    </form>
</ng-template>

<ng-template #template>
</ng-template>