<!-- Toolbar -->
<!-- <mat-toolbar color="primary" class="app-header">
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </span>
</mat-toolbar> -->

<!-- <mat-drawer-container class="example-container" hasBackdrop="true">
  <mat-drawer #drawer mode="side" opened>Drawer content</mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary" *ngIf="isLoggedIn()">
      <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon"
        aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>   
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container> -->

<body>
  <app-navigation-bar></app-navigation-bar>
</body>
<!-- <router-outlet></router-outlet> -->