.example-action-buttons {
    padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
}

mat-form-field {
    width: 100%;
}

::ng-deep .example-headers-align .mat-accordion .mat-expansion-panel:last-of-type {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

::ng-deep .example-headers-align .mat-accordion .mat-expansion-panel:first-of-type {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

::ng-deep .mat-expansion-panel-body {
    overflow: visible;
}

::ng-deep .mdc-menu-surface.mat-mdc-select-panel {
    padding: 0 !important;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: unset !important;
}

::ng-deep .mat-option-pseudo-checkbox.mat-pseudo-checkbox-checked {
    background-color: #673ab7;
}

.btn-file-upload {
    background-color: transparent;
    border: 0;
    color: inherit;
}

.file-input {
    display: none;
    //visibility: hidden;
}

// .file-upload {
//     display: flex;
// }

// .btn-upload {
//     position: relative;
//     bottom: 0.5rem;
// }