<form #retailPremisesDetailForm="ngForm" [formGroup]="retailFormGroup"
    (ngSubmit)="onRetailPremisesSubmit(retailFormGroup.value)">
    <div class="row container-fluid">
        <div class="col-sm">
            <mat-stepper orientation="vertical" #stepper (selectionChange)="stepChanged($event, stepper)">
                <mat-step>
                    <ng-template matStepLabel>{{'basicDetails'|translate}}</ng-template>
                    <div class="row py-1">
                        <div class="col-sm">
                            <app-single-select [group]="retailFormGroup" [controlName]="'Authoriser'"
                                [dropdownData]="userOptions" [displayProp]="'fullName'" [selectedData]="currentUser"
                                dropdownPlaceholder="{{'chooseintroducer'|translate}}"
                                matLabel="{{'chooseintroducer'|translate}}" [iconType]="'supervised_user_circle'">
                            </app-single-select>
                        </div>
                        <div class="col-sm">
                            <app-input [inputType]="'text'" [group]="retailFormGroup"
                                [controlName]="'retailPremisesName'" inputPlaceholder="{{'retailName'|translate}}"
                                [iconType]="'badge'" labelText="{{'retailName'|translate}}"
                                [errorMessage]="retailPremisesDetailForm.submitted && (retailFormGroup.hasError('required','retailPremisesName')?('Validation.retailpremisesrequired'|translate):'')"></app-input>
                        </div>
                        <div class="col-sm">
                            <app-input [inputType]="'text'" [group]="retailFormGroup" [controlName]="'buildingName'"
                                inputPlaceholder="{{'buildingName'|translate}}" labelText="{{'buildingName'|translate}}"
                                [iconType]="'store'"></app-input>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <app-input [inputType]="'text'" [group]="retailFormGroup" [controlName]="'addressNumber'"
                                inputPlaceholder="{{'addressNumber'|translate}}"
                                labelText="{{'addressNumber'|translate}}" [iconType]="'home'"></app-input>
                        </div>
                        <div class="col-sm">
                            <app-input [inputType]="'text'" [group]="retailFormGroup" [controlName]="'streetOrRoad'"
                                inputPlaceholder="{{'streetOrRoad'|translate}}" labelText="{{'streetOrRoad'|translate}}"
                                [iconType]="'streetview'"
                                [errorMessage]="retailPremisesDetailForm.submitted && (retailFormGroup.hasError('required','streetOrRoad')?('Validation.retailstreetorroadrequired'|translate):'')"></app-input>
                        </div>
                        <div class="col-sm">
                            <app-input [inputType]="'text'" [group]="retailFormGroup" [controlName]="'area'"
                                inputPlaceholderKey="{{'area'|translate}}" labelText="{{'area'|translate}}"
                                [iconType]="'my_location'"></app-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <app-input-auto-complete [dropdownData]="ukAreaOptions"
                                labelText="{{'townOrCity'|translate}}"
                                inputPlaceholder="Please type to choose the town/city" [formGroup]="retailFormGroup"
                                [controlName]="'townOrCity'"
                                [errorMessage]="retailPremisesDetailForm.submitted && (retailFormGroup.hasError('required','townOrCity')?('Validation.townorcityrequired'|translate):'')"
                                [iconType]="'location_city'">
                            </app-input-auto-complete>
                        </div>
                        <div class="col-sm">
                            <app-input-auto-complete [dropdownData]="countyOptions" labelText="{{'county'|translate}}"
                                inputPlaceholder="Please type to choose the county" [formGroup]="retailFormGroup"
                                [controlName]="'county'"
                                [errorMessage]="retailPremisesDetailForm.submitted && (retailFormGroup.hasError('required','county')?('Validation.countyrequired'|translate):'')"
                                [iconType]="'room'">
                            </app-input-auto-complete>
                        </div>
                        <div class="col-sm">
                            <app-input [inputType]="'text'" [group]="retailFormGroup" [controlName]="'postCode'"
                                inputPlaceholder="{{'postCode'|translate}}" labelText="{{'postCode'|translate}}"
                                [iconType]="'pin_drop'"></app-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <app-input-auto-complete [dropdownData]="countryOptions" labelText="{{'country'|translate}}"
                                inputPlaceholder="Please type to choose the country" [formGroup]="retailFormGroup"
                                [controlName]="'country'"
                                [errorMessage]="retailPremisesDetailForm.submitted && (retailFormGroup.hasError('required','country')?('Validation.countryrequired'|translate):'')"
                                [iconType]="'outlined_flag'">
                            </app-input-auto-complete>
                        </div>
                        <div class="col-sm">
                            <app-input [inputType]="'textarea'" [group]="retailFormGroup"
                                [controlName]="'creationNotes'" inputPlaceholder="{{'creationNotes'|translate}}"
                                labelText="{{'creationNotes'|translate}}"
                                [errorMessage]="retailPremisesDetailForm.submitted && (retailFormGroup.hasError('required','creationNotes')?('Validation.creationnotesrequired'|translate):'')"
                                [iconType]="'description'"></app-input>
                        </div>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>{{'communication'|translate}}</ng-template>
                    <div class="row py-1">
                        <div class="col-sm">
                            <app-input [inputType]="'email'" [group]="retailFormGroup"
                                [controlName]="'emailCommunication'"
                                inputPlaceholder="{{'comminicationEmail'|translate}}"
                                labelText="{{'comminicationEmail'|translate}}" [iconType]="'email'"></app-input>
                        </div>
                        <div class="col-sm">
                            <app-input [inputType]="'email'" [group]="retailFormGroup" [controlName]="'emailInvoicing'"
                                inputPlaceholder="{{'invoicingEmail'|translate}}"
                                labelText="{{'invoicingEmail'|translate}}" [iconType]="'email'"></app-input>
                        </div>
                        <div class="col-sm">
                            <app-input [inputType]="'number'" [group]="retailFormGroup" [controlName]="'retailLandline'"
                                inputPlaceholder="{{'retailersLandline'|translate}}"
                                labelText="{{'retailersLandline'|translate}}" [iconType]="'phone'"></app-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <app-input [inputType]="'text'" [group]="retailFormGroup"
                                [controlName]="'retialLandlineTitle'" inputPlaceholder="{{'landlineTitle'|translate}}"
                                labelText="{{'landlineTitle'|translate}}" [iconType]="'title'"></app-input>
                        </div>
                        <div class="col-sm">
                            <app-input [inputType]="'number'" [group]="retailFormGroup"
                                [controlName]="'retialMobileOneNumber'"
                                inputPlaceholder="{{'retailMobileOne'|translate}}"
                                labelText="{{'retailMobileOne'|translate}}" [iconType]="'smartphone'"></app-input>
                        </div>
                        <div class="col-sm">
                            <app-input [inputType]="'text'" [group]="retailFormGroup"
                                [controlName]="'retailMobileOneTitle'" inputPlaceholder="{{'mobileOneTitle'|translate}}"
                                labelText="{{'mobileOneTitle'|translate}}" [iconType]="'title'"></app-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <app-input [inputType]="'number'" [group]="retailFormGroup"
                                [controlName]="'retialMobileTwoNumber'"
                                inputPlaceholder="{{'retailMobileTwo'|translate}}"
                                labelText="{{'retailMobileTwo'|translate}}" [iconType]="'smartphone'"></app-input>
                        </div>
                        <div class="col-sm">
                            <app-input [inputType]="'text'" [group]="retailFormGroup"
                                [controlName]="'retailMobileTwoTitle'" inputPlaceholder="{{'mobileTwoTitle'|translate}}"
                                labelText="{{'mobileTwoTitle'|translate}}" [iconType]="'title'"></app-input>
                        </div>
                        <div class="col-sm">
                            <app-input [inputType]="'number'" [group]="retailFormGroup"
                                [controlName]="'retialMobileThreeNumber'"
                                inputPlaceholder="{{'retailMobileThree'|translate}}"
                                labelText="{{'retailMobileThree'|translate}}" [iconType]="'smartphone'"></app-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <app-input [inputType]="'text'" [group]="retailFormGroup"
                                [controlName]="'retailMobileThreeTitle'" labelText="{{'mobileThreeTitle'|translate}}"
                                inputPlaceholder="{{'mobileThreeTitle'|translate}}" [iconType]="'title'"></app-input>
                        </div>
                        <div class="col-sm"></div>
                        <div class="col-sm"></div>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>{{'payment'|translate}}</ng-template>
                    <div class="row py-1">
                        <div class="col-sm">
                            <app-single-select [group]="retailFormGroup" [controlName]="'currencyPaid'"
                                [dropdownData]="currencyPaidOptions" [displayProp]="'value'"
                                dropdownPlaceholder="{{'currencyPaidIn'|translate}}"
                                matLabel="{{'currencyPaidIn'|translate}}" [iconType]="'attach_money'">
                            </app-single-select>
                        </div>
                        <div class="col-sm">
                            <app-single-select [group]="retailFormGroup" [controlName]="'pricePerHour'"
                                [dropdownData]="pricePerHourOptions" [displayProp]="'value'"
                                dropdownPlaceholder="{{'pricePerHour'|translate}}"
                                matLabel="{{'pricePerHour'|translate}}" [iconType]="'money'">
                            </app-single-select>
                        </div>
                        <div class="col-sm">
                            <app-single-select [group]="retailFormGroup" [controlName]="'pricePerDrop'"
                                [dropdownData]="pricePerHourOptions" [displayProp]="'value'"
                                dropdownPlaceholder="{{'pricePerDrop'|translate}}"
                                matLabel="{{'pricePerDrop'|translate}}" [iconType]="'price_change'">
                            </app-single-select>
                        </div>
                    </div>
                    <div class="row py-1">
                        <div class="col-sm">
                            <app-single-select [group]="retailFormGroup" [controlName]="'extrasNotes'"
                                [dropdownData]="pricePerHourOptions" [displayProp]="'value'"
                                dropdownPlaceholder="{{'extrasPerDrop'|translate}}"
                                matLabel="{{'extrasPerDrop'|translate}}" [iconType]="'request_quote'">
                            </app-single-select>
                        </div>
                        <div class="col-sm">
                            <app-input [inputType]="'textarea'" [group]="retailFormGroup" [controlName]="'extrasNotes'"
                                inputPlaceholder="{{'extrasNotes'|translate}}" labelText="{{'extrasNotes'|translate}}"
                                [iconType]="'description'"></app-input>
                        </div>
                        <div class="col-sm">
                            <app-single-select [group]="retailFormGroup" [controlName]="'agreedMinimumPerHour'"
                                [dropdownData]="pricePerHourOptions" [displayProp]="'value'"
                                dropdownPlaceholder="{{'agreedMinimumPerHour'|translate}}"
                                matLabel="{{'agreedMinimumPerHour'|translate}}" [iconType]="'request_quote'">
                            </app-single-select>
                        </div>
                    </div>
                    <div class="row py-1">
                        <div class="col-sm">
                            <app-input [inputType]="'number'" [group]="retailFormGroup" [controlName]="'oneOffPrice'"
                                inputPlaceholder="{{'oneOffPrice'|translate}}" labelText="{{'oneOffPrice'|translate}}"
                                [iconType]="'numbers'"></app-input>
                        </div>
                        <div class="col-sm">
                            <app-single-select [group]="retailFormGroup" [controlName]="'agreedMinimumPerHour'"
                                [dropdownData]="payModeOptions" [displayProp]="'value'"
                                dropdownPlaceholder="{{'payMode'|translate}}" matLabel="{{'payMode'|translate}}"
                                [iconType]="'request_quote'">
                            </app-single-select>
                        </div>
                        <div class="col-sm">
                            <app-single-select [group]="retailFormGroup" [controlName]="'agreedMinimumPerHour'"
                                [dropdownData]="payFrequencyOptions" [displayProp]="'value'"
                                dropdownPlaceholder="{{'payFrequency'|translate}}"
                                matLabel="{{'payFrequency'|translate}}" [iconType]="'request_quote'">
                            </app-single-select>
                        </div>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>{{'helpNotes'|translate}}</ng-template>
                    <div class="row py-1">
                        <div class="col-sm">
                            <app-input [inputType]="'textarea'" [group]="retailFormGroup" [controlName]="'otherNotes'"
                                inputPlaceholder="{{'otherNotes'|translate}}" labelText="{{'otherNotes'|translate}}"
                                [iconType]="'description'"></app-input>
                        </div>
                        <div class="col-sm">
                            <app-input [inputType]="'textarea'" [group]="retailFormGroup" [controlName]="'notesAndTips'"
                                inputPlaceholder="{{'notesAndTips'|translate}}" labelText="{{'notesAndTips'|translate}}"
                                [iconType]="'description'"></app-input>
                        </div>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>{{'visuals'|translate}}</ng-template>
                    <div class="row py-1">
                        <div class="col-sm">
                            <label>{{'logo'|translate}}</label>
                            <mat-list class="mat-list d-flex" style="padding: 0;">
                                <mat-list-item class="horizontal-mat-list-item">
                                    <input type="file" class="file-input" formControlName="logo"
                                        [accept]="requiredFileType" (change)="onFileSelected($event,'logo')"
                                        #fileUploadLogo>
                                    <button type="button" class="file-upload-btn" mat-raise-button color="primary"
                                        (click)="fileUploadLogo.click()" [matTooltip]='fileUploadLogo.value.
                                        substring(fileUploadLogo.value
                                        .lastIndexOf(" \\")).replace("\\","")'>
                                        <mat-icon class="material-icons">cloud_upload</mat-icon>
                                    </button>
                                </mat-list-item>
                                <mat-divider [vertical]="true"></mat-divider>
                                <mat-list-item class="horizontal-mat-list-item">
                                    <button type="button" class="file-upload-btn" (click)="takeSelfie(fileUploadLogo)">
                                        <mat-icon>camera_alt</mat-icon>
                                    </button>
                                </mat-list-item>
                                <mat-list-item class="horizontal-mat-list-item">
                                    <label>
                                        {{fileUploadLogo.value.
                                        substring(fileUploadLogo.value
                                        .lastIndexOf("\\")).replace("\\","") || "File upload/Take photo"}}
                                    </label>
                                </mat-list-item>
                            </mat-list>
                        </div>
                        <div class="col-sm">
                            <label>{{'frontDoorVisual'|translate}}</label>
                            <mat-list class="mat-list d-flex" style="padding: 0;">
                                <mat-list-item class="horizontal-mat-list-item">
                                    <input type="file" class="file-input" formControlName="frontDoorVisual"
                                        [accept]="requiredFileType" (change)="onFileSelected($event,'frontDoorVisual')"
                                        #fileUploadFrontDoorVisual>
                                    <button type="button" class="file-upload-btn" mat-raise-button color="primary"
                                        (click)="fileUploadFrontDoorVisual.click()" [matTooltip]='fileUploadFrontDoorVisual.value.
                                        substring(fileUploadFrontDoorVisual.value
                                        .lastIndexOf(" \\")).replace("\\","")'>
                                        <mat-icon class="material-icons">cloud_upload</mat-icon>
                                    </button>
                                </mat-list-item>
                                <mat-divider [vertical]="true"></mat-divider>
                                <mat-list-item class="horizontal-mat-list-item">
                                    <button type="button" class="file-upload-btn"
                                        (click)="takeSelfie(fileUploadFrontDoorVisual)">
                                        <mat-icon>camera_alt</mat-icon>
                                    </button>
                                </mat-list-item>
                                <mat-list-item class="horizontal-mat-list-item">
                                    <label>
                                        {{fileUploadFrontDoorVisual.value.
                                        substring(fileUploadFrontDoorVisual.value
                                        .lastIndexOf("\\")).replace("\\","") || "File upload/Take photo"}}
                                    </label>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </div>
                </mat-step>
            </mat-stepper>
        </div>
        <div class="w-100"></div>
        <div class="col-sm py-1">
            <button mat-raised-button [style.float]="'right'" (click)="onClick()" type="submit">Submit</button>
        </div>
    </div>
</form>