// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icon-error {
    color: #f44336;
}

.mat-step-icon {
    background: -webkit-linear-gradient(left, #3931af, #f44336);
    color: #ffffff;
}

.pointer-cursor:hover {
    cursor: pointer;
}