<ng-container *ngTemplateOutlet='group ? reactive : template'></ng-container>

<ng-template #reactive>
    <form [formGroup]="group" #ngForm="ngForm" class="example-form">
        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>{{inputPlaceholderKey}}</mat-label>
            <input matInput [matDatepicker]="dp" placeholder="{{inputPlaceholderKey}}" [formControlName]="controlName"
                (blur)="onBlur()" [readonly]="isReadOnly" [disabled]="isInputDisabled">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
            <mat-icon matPrefix>{{iconType}}</mat-icon>
            <mat-icon matSuffix class="icon-error" *ngIf="errorMessage != ''">error</mat-icon>
            <mat-error *ngIf="errorMessage != ''">
                {{errorMessage}}
            </mat-error>
        </mat-form-field>
    </form>
</ng-template>

<ng-template #template>
    <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Date of birth</mat-label>
        <input matInput [matDatepicker]="dp" placeholder="{{inputPlaceholderKey}}" type="password"
            [formControlName]="controlName" (blur)="onBlur()" [readonly]="isReadOnly" [disabled]="isInputDisabled">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
</ng-template>